<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-no-expand">
    <!-- Brand Logo -->
    <a href="http://vva.com.vn/vision/" class="brand-link">
        <img src="~/img/VVA_LOGO.gif" alt="Viet Vision Automation" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Vision ITS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        @await Html.PartialAsync("_Menu")
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>